.month-container {
  position: relative;
  min-width: 80px;
  width: 100px;
  border-bottom: none;
  cursor: pointer;
}

.green-light {
  background-color: #e0f1eb;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
}

.datas {
  z-index: 1;
  position: absolute;
  bottom: 7px;
  left: 8px;
}

.doc-number {
  font-weight: 400;
  color: #6f7e86;
}

.amount {
  font-weight: 500;
  color: #00875a;
}

.amount-text {
  color: #00875a;
}

.month-card-selected {
  width: 100%;
  border: 1px solid #ebedee;
  border-radius: 8px;
  /* padding: 12px 16px; */
}

.month-card-container {
  padding: 12px 16px;
}

.month-card-name {
  color: #0d97d5;
  font-weight: 500;
}
.month-card-amount {
  margin-top: 8px;
  font-size: 24px;
  line-height: 32px;
}
.month-card-docNumber {
  font-size: 16px;
  line-height: 24px;
}
